@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* 
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  position: relative;
  width: 100%;
  background-color: var(--main-darklg);
} */

.logo > h3 {
  color: var(--main-light);
}

.main {
  overflow: hidden;
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.videos__group {
   flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 1rem;
  background-color: var(--main-dark);

}

video {
   height: 0px; 
  border-radius: 1rem;
  margin: 0.5rem;
   width: 0px; 
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.options {
  padding: 1rem;
  display: flex;
  background-color: var(--main-darklg);
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  /* margin: 0 0.5rem; */
}

.background__red {
  background-color: #f6484a;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: #ffffff;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}

.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__message_container > input {
  height: 50px;
  flex: 1; 
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 5px;
  border: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.message {
  display: flex;
  flex-direction: column;
}

.message > b {
  color: #000000;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.message > b > i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}

.message > span {
  background-color: #efefef;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

#video-grid {
   display: inline-table;
  justify-content: top;
  overflow-x: auto;
  overflow-y: auto;
}

#showChat {
  display: none;
}

.header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}
#users-counter {
  font-size: 18px;
  display: inline-block;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--second-color);
  color: #fff;
}

#you-joined {
  padding: 10px 0px;
  margin: 0 18px;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
  text-align: center;
  font-weight: 600;
}
@media (max-width: 700px) {
  .main__right {
    display: none;
  }
  .main__left {
    width: 100%;
  }

  video {
    height: 0%;
    width: 0%;
  }

  #showChat {
    display: flex;
  }
}
