.navbar-navbar {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1000;
  position: relative;
  align-self: auto;
  align-items: center;
  flex-shrink: 1;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 0px;
  justify-content: flex-start;
}
.navbar-branding-logo {
  width: 58px;
  height: 58px;
  align-self: center;
  box-sizing: content-box;
}
@media(max-width: 767px) {
  .navbar-navbar {
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .navbar-branding-logo {
    width: 80px;
  }
}
